<ion-view view-cache="false" view-title="Avisos">
	<ion-content padding="true">
		<ion-list>
			<form name="search">
				<div class="row">
					<div class="col">
						<label class="item item-input">
							<input type="text" ng-minlength="5" placeholder="Instituição, Cidade, Parceiros" name="param" ng-model="param" required>
						</label>
						<label for="search">
							<button type="button" class="button button-full button-assertive" ng-click="search()"name="submit" ng-disabled="search.param.$invalid">Procurar</button>
						</label>
					</div>
				</div>
				{{loginData}}
			</form>
			<ion-item class="item-icon-right item-avatar" ng-repeat="aviso in avisos" ng-href="#/app/avisos/{{aviso.id}}">
				<img ng-src="{{aviso.thumb}}">

				<h2 class="positive">{{aviso.institution}}</h2>
				<p>
					<b>{{aviso.city}}</b> / Sangue Tipo: <b>{{aviso.blodType}}</b><br>
					{{aviso.address}}, {{aviso.zip}} - {{aviso.district}}
				</p>
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
