<ion-view view-title="Aviso">
  <ion-content padding="true">
		<div ng-show="!loading">
			<div class="text-center">
				<img ng-src="{{aviso.thumb}}" style="border-radius: 200px; width: 200px" class="image">
			</div>
      <h3>{{aviso.institution}}</h3>
      <h4><b>{{aviso.city}}</b> <small>({{aviso.district}})</small></h4>
      <br>
			Precisamos de sangue tipo:<b> {{aviso.blodType}}</b>

      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Endereço</b> <i class="icon ion-location"></i></ion-item>
        <ion-item>
          {{aviso.address}} {{aviso.number}}<br>
          {{aviso.cep}} - {{aviso.city}}
        </ion-item>
      </ion-list>
      <br>
      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Horario de Atendimento</b> <i class="icon ion-ios-calendar-outline"></i></ion-item>
        <ion-item >
          {{aviso.atendimento}}
        </ion-item>
      </ion-list>
      <br>
      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Contato</b> <i class="icon ion-chatboxes"></i></ion-item>
        <ion-item class="item-icon-right" ng-click="call()">
          Nos telefone
          <i class="icon ion-android-call"></i>
        </ion-item>
        <ion-item class="item-icon-right" ng-click="mail()">
          Nos envie um e-mail
          <i class="icon ion-ios-email"></i>
        </ion-item>
        <ion-item ng-show="institution.website" class="item-icon-right" ng-click="website()">
          Visit our homepage
          <i class="icon ion-ios-home"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="map()">
        <i class="icon ion-map"></i> Maps
      </div>
    </div>
    <h1 class="title"></h1>
  </ion-footer-bar>
  </ion-content>
</ion-view>
