<ion-view view-title="Como doar sangue - Pets">
<ion-content scroll="false">
	<ion-slides slider="data.slider">
		<ion-slide-page>
			<br>
			<div class="row" style="padding-top: 20%">
				<div class="col" style=" text-align: justify">
					<h4>
						Para poder ser um doador o pet deve ter um temperamento dócil
					</h4>
				</div>
			</div>

			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>
					Devem ter entre 1 e 8 anos
					<br>
					Devem estar com as vacinas em atualizadas e vermifugado
					<br>
					Estar sadio e não estar prenhe
					</h4>
				</div>
			</div>

			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>
						Cachorros devem estar com 25 kg ou mais
						<br>
						Gatos deve ter no mínimo 4,5 kg
					</h4>
				</div>
			</div>
		</ion-slide-page>

		<ion-slide-page>
			<br>

			<div class="row" style="padding-top: 20%">
				<div class="col" style=" text-align: justify">
					<h4>
Não ser obeso
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>
Não possuir infestações de pulgas ou carrapatos
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>
Nunca devem ter recebido transfusões sanguíneas
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>
Fêmeas não podem estar no cio
					</h4>
				</div>
			</div>
		</ion-slide-page>

		<ion-slide-page>
			<br>

			<div class="row" style="padding-top: 20%">
				<div class="col" style=" text-align: justify">
					<h4>

					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>

					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>

					</h4>
				</div>
			</div>

		</ion-slide-page>
	</ion-slides>
</ion-content>
</ionic-view>
