<ion-view view-title="Como doar sangue - Pessoas">
<ion-content scroll="false">
	<ion-slides slider="data.slider">
		<ion-slide-page>
			<br>
			<div class="row" style="padding-top: 20%">
				<div class="col" style=" text-align: justify">
					<h4>
						Apresentar carteira de identidade (RG), ou carteira de habilitação (CNH), ou carteira profissional
					</h4>
				</div>
			</div>

			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>
						Ter entre 16 e 67 anos e após os 60 anos somente quem já doou sangue anteriormente
					</h4>
				</div>
			</div>

			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>
						Menores de 18 anos precisam também da autorização por escrito dos pais ou responsáveis
						reconhecida em cartório ou a presença dos mesmos portando documento oficial
					</h4>
				</div>
			</div>
		</ion-slide-page>

		<ion-slide-page>
			<br>

			<div class="row" style="padding-top: 20%">
				<div class="col" style=" text-align: justify">
					<h4>
						Pesar acima de 50kg
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>
						Estar bem de saúde e comunicar se estiver tomando medicamento
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>
						Não estar em jejum
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>
						Não comer alimentos gordurosos (carne gordurosa, feijoada, ovo, maionese, fritura, bacon)
					</h4>
				</div>
			</div>
		</ion-slide-page>

		<ion-slide-page>
			<br>

			<div class="row" style="padding-top: 20%">
				<div class="col" style=" text-align: justify">
					<h4>
						Não fumar 01 hora antes e não ingerir bebida alcoólica nas últimas 12 horas
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>
						Após o almoço aguardar 03 horas para doar sangue
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col" style=" text-align: justify">
					<h4>
						Dormir bem, pelo menos 06 horas antes da doação
					</h4>
				</div>
			</div>

		</ion-slide-page>
	</ion-slides>
</ion-content>
</ionic-view>
