<ion-view view-title="Institutições">
	<ion-content padding="true">
		<div class="row">
			<div class="col">
				<ion-list>
					<ion-item class="item-icon-right item-avatar" href="#/app/institutions/{{inst.id}}" ng-repeat="inst in institutions">
						<img ng-src="{{inst.thumb}}">
						<p>
							<h2 class="positive">{{inst.nome}}</h2>
							<b>{{inst.city}}</b><br>
							{{inst.address}}, {{inst.zip}} - {{inst.district}}
						</p>
						<i class="icon ion-ios-arrow-right"></i>
					</ion-item>
				</div>
			</div>
		</ion-content>
	</ion-view>
