<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="card-background-page" padding="true">
    <ion-card>
      <img style="width:300px; margin-left: 30px;"src="img/logo.png">
    </ion-card>
    <form ng-model="formLogin" name="formLogin" ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="formLogin.username" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Senha</span>
          <input type="password" ng-model="formLogin.password" required>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-disabled="formLogin.$invalid" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <label class="item">
      <ion-item class="button button-block" href="#/app/registration" ng-click="closeLogin()">
        Cadastre-se
      </ion-item>
    </label>


  </ion-content>
</ion-modal-view>
