<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable bar-assertive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()" ng-show="loginData == null">
          Login
        </ion-item>
				<ion-item menu-close href="#/app/avisos">
					Avisos
				</ion-item>
        <ion-item menu-close href="#/app/partners">
          Parceiros
        </ion-item>
        <ion-item menu-close href="#/app/institutions">
          Instituições
        </ion-item>
				<ion-item menu-close href="#/app/perfil">
          Perfil
        </ion-item>
				<ion-item menu-close href="#/app/infoHumano">
          Como doar sangue - pessoas
        </ion-item>
				<ion-item menu-close href="#/app/infoPet">
					Como doar sangue - pets
        </ion-item>
        <ion-item menu-close ng-click="logout()" ng-show="loginData != null">
          Sair
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
