<ion-view view-title="Parceiros">
	<ion-content padding="true">
		<div class="row">
			<div class="col">
				<ion-list>
					<ion-item class="item-icon-right item-avatar" href="#/app/partners/{{parc.id}}" ng-repeat="parc in partners">
						<img ng-src="{{parc.thumb}}">
						<p>
							<h2 class="positive">{{parc.nome}}</h2>
							<b>{{parc.city}}</b><br>
							{{parc.address}}, {{parc.zip}} - {{parc.district}}
						</p>
						<i class="icon ion-ios-arrow-right"></i>
					</ion-item>
				</div>
			</div>
		</ion-content>
	</ion-view>
