<ion-view view-title="Cadastro">
	<ion-content padding="true">
		<form style="margin-top: 50px;"ng-submit="register()">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Nome</span>
					<input type="text" ng-model="loginData.name">
				</label>
				<label class="item item-input">
					<span class="input-label">Email</span>
					<input type="email" ng-model="loginData.email">
				</label>
				<label class="item item-input">
					<span class="input-label">Telefone</span>
					<input type="text" ng-model="loginData.telefone">
				</label>
				<label class="item item-input">
					<span class="input-label">Data de Nascimento</span>
					<input type="date" ng-model="loginData.nascimento">
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
						Perfil
					</div>
					<select ng-model="loginData.perfil">
						<option selected="">Selecione</option>
						<option>Doador</option>
						<option>Dono de Pet</option>
						<option>Ambos</option>
					</select>
				</label>

				<label class="item item-input">
					<span class="input-label">Senha</span>
					<input type="password" ng-model="loginData.senha">
				</label>
				<label class="item">
					<button class="button button-block button-assertive" type="submit">Salvar</button>
				</label>
			</div>
		</form>
	</ion-content>
</ion-view>
